/* Reset & generic styles */

:root{
	font-size: 18px;

	/* Root variables */
	--spacecadet: rgba(54, 52, 87, 1);
	--lightblue: rgba(110, 152, 190, 1);
	--lightestblue: rgba(130, 165, 196, 1);
	--lightestlight: rgba(241, 241, 241, 1);
	--orange: rgba(246, 115, 71, 1);

	--standard-box-shadow: 0px 2px 4px rgba(0, 0, 0, .18);
	--standard-box-shadow: 2px 2px 5px rgba(1,1,1,.35);
	--standard-emphasis: hsl(0, 0, 15%);
	--standard-border: 10px solid var(--orange);
	--thick-border: 20px solid var(--orange);
}

*{
	box-sizing: border-box;
	letter-spacing: 1;
	line-height: 2;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;
}

*::after,
*::before {
  box-sizing: border-box;
}

h1{
	color: rgba(255, 255, 255);
	font-size: 3em;
	font-size: calc(2em + 5vw);
	text-align: center;
	font-weight: 900;
	line-height: 1.1;
}

h2{
	color: rgba(255, 255, 255, .9);
	font-size: 2.5em;
	font-size: calc(2.5em +3vw);
	font-weight: 600;
	line-height: 1.2;
}

h3{
	color: rgba(255, 255, 255, .9);
	font-size: 1.5em;
	font-size: calc(1.5em +1vw);
	font-weight: 600;
	line-height: 1.3;
}

h4{
	color: rgba(255, 255, 255, .9);
	font-size: 1.2em;
	font-size: calc(1.2em +1vw);
	font-weight: 600;
	line-height: 1.3;
}

p{
	color: rgba(255, 255, 255, .8);
	color: hsl(0, 0, 37%);
	font-size: 1em;
	font-size: calc();
	font-weight: 400;
	line-height: 1.6;
}

h1, h2, h3, h4, h5, p, a{
	padding: 0 0 1.5rem 0;
}

a{
	text-decoration: none;
 
	display: inline-block;     
	position: relative;    
	z-index: 3;     
	padding: 2em;     
	margin: -2em;
	
	margin-top: 1em;

	box-shadow: var(--standard-box-shadow);
}

a:hover{
	color: var(--orange);
}

/* a:visited{
	color: var(--spacecadet);
} */

li{
	position: relative;
	padding-left: 2rem;

	line-height: 1.6;
	margin-bottom: 1rem;
}

li:before{
	content: '';
	width: 1rem;
	height: 1rem;
	top: 0;
	left: 0;
	position: absolute;
	background: url(bullet-icon.svg);
}



/* Overarching styles */

.cursive{
	font-family: 'Sacramento', cursive;
}

.blueText{
	color: var(--lightblue);
	text-align: center;
}



/* Layout */

html{
	/*general centering for body max-width for huge screens like mine*/
	display: flex;
	justify-content: center;

	background-color: var(--lightestlight);
}

body{
	/*limit max-width for huge screens*/
	flex: 0 1 2000px;
	max-width: 100%;

	/*create a generally centered flex layout with either one or two columns*/
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

div.flex100{
	/*one column item*/
	flex: 1 0 100%;
	max-width: 100%;
}

div.flex800{
	/*two column item for big screens, or wrap for one column*/
	flex: 0 1 800px;
}

div.dflexColumn{
	/*single column block layout*/
	display: flex;
	flex-direction: column;
	align-items: center;
}

div.invertColors{
	background-color: var(--lightblue);

	box-sizing: border-box;
	margin: 3rem;
	border: var(--standard-border);
	padding: 1rem 1rem 2rem 1rem;
}

@media all and (max-width: 800px){
	div.invertColors{
		margin: 2rem 0 2rem 0;
	}
}

div.invertColors p{
	/*limit text width in large containers*/
	max-width: 800px;
}

.insetColors{
	color: white;
	background-color: var(--lightestblue);

	box-sizing: border-box;
	margin-bottom: 1rem;
	padding: 1rem;
}



/* Section styles*/


#banner{
	position: relative;
	z-index: 15;

	border-bottom: var(--thick-border);

	width: 100%;
	height: 100vh;	

	background: url(images/dino2_new.jpg);
	background-position: bottom left;
	background-repeat: repeat-x;
	background-size: cover;
}

#banner::before {    
	position: absolute;

	content: "";
	background-image: url(images/dino1_new.jpg);
	background-position: bottom left;
	background-repeat: no-repeat;
	background-size: cover;

	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	opacity: 0;

	animation: alternate_background 2s none 1s infinite;
}

#banner h1{
	position: relative; /*Relative position so it shows up with background position for alternate animation*/
	margin: 1em 0 -.4em 0; /*just for a fun effect with border-bottom*/
}

h1.tagline{
	opacity: 0;
	margin: 1em 0 -1em 0;

	animation-name: text-enter;
	animation-delay: 3s;
	animation-duration: .2s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@media all and (min-width: 800px){
	#banner{
		justify-content: space-between;
	}
}


#overview{
	padding: 5rem 0 2rem 0;
}


div.skewContainer{
	/*Well.... this is what I'm doing to prvent overflow-x, since I can't combine overflow-y:visible and overflow-x:hidden.*/
	overflow: hidden;
	padding: 10rem 0 10rem 0;
	margin: -10rem 0 -10rem 0;
}


div.polaroidContainer{
	z-index: 5;
	box-sizing: border-box;
	
	width: 40vw;
	height: 50vw;

	display: grid;
	grid-template-columns: 15px 1fr 15px;
	grid-template-rows: 15px 1fr auto;

	background-color: white;

	border-radius: 2px;
	box-shadow: var(--standard-box-shadow);
}

@media all and (max-width: 1200px){
	div.polaroidContainer{
		width: 80vw;
		height: 90vw;
	}
}

@media all and (max-width: 600px){
	div.polaroidContainer{
		width: 100vw;
		height: 120vw;
	}
}

.skewLeft{
	transform: rotate(-15deg);
}

.skewRight{
	transform: rotate(15deg);
}

div.polaroidPhoto{
	position: relative; /*sets up absolute-positioned pseudo elements containing additional photos for animation*/
	
	grid-area: 2 / 2 / -2 / -2;

	box-shadow: inset 0 0 5px rgba(2,2,2,.35);
}

div.polaroidPhoto:before, div.polaroidPhoto:after, div.polaroidPhoto>span:before, div.polaroidPhoto>span:after{
	box-shadow: inset 0 0 5px rgba(2,2,2,.35);
}

p.label{
	grid-area: 3 / 2 / 4 / 3;

	padding: 1em 0 1.2em 0;
	
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	font-family: 'Sacramento', cursive;
	font-weight: 400;
	font-size: 1.5rem;
	color: var(--orange);
}

div.polaroidPhoto.firstPhoto{
	background: url(images/niceA.JPG); /*sets main photo and fallback if animation fails*/
	background-position: bottom left;
	background-repeat: no-repeat;
	background-size: cover;
} 

div.polaroidPhoto.firstPhoto:before{    
	content: "";
	background-image: url(images/niceB.JPG);
	background-position: bottom left;
	background-repeat: repeat-x;
	background-size: cover;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	
	opacity: 0; /*sets up animation, and defaults to invisible/main photo if animation fails*/
	animation: alternate_background 2s none 1s infinite;
}

div.polaroidPhoto.secondPhoto{
	background: url(images/jump1.JPG);
	background-position: top left;
	background-repeat: no-repeat;
	background-size: cover;
} 


div.polaroidPhoto.secondPhoto:before{    
	content: "";
	background-image: url(images/jump2.JPG);
	background-position: bottom left;
	background-repeat: repeat-x;
	background-size: cover;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;

	opacity: 0;
	animation: alternate_background_1-5 5s none 1s infinite;
}

div.polaroidPhoto.secondPhoto:after{    
	content: "";
	background-image: url(images/jump3.JPG);
	background-position: bottom left;
	background-repeat: repeat-x;
	background-size: cover;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	
	opacity: 0;
	animation: alternate_background_1-5 5s none 2s infinite;
}

div.polaroidPhoto.secondPhoto span.animation_placeholder:before{    
	content: "";
	background-image: url(images/jump4.JPG);
	background-position: bottom left;
	background-repeat: repeat-x;
	background-size: cover;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	
	opacity: 0;
	
	animation: alternate_background_1-5 5s none 3s infinite;
}

div.polaroidPhoto.secondPhoto span.animation_placeholder:after{    
	content: "";
	background-image: url(images/jump6.JPG);
	background-position: bottom left;
	background-repeat: repeat-x;
	background-size: cover;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	
	opacity: 0;

	animation: alternate_background_1-5 5s none 4s infinite;
}

div.polaroidPhoto.thirdPhoto{
	background: url(images/zenA.JPG);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
} 

div.polaroidPhoto.thirdPhoto:before{    
	content: "";
	background-image: url(images/zenB.JPG);
	background-position: top center;
	background-repeat: repeat-x;
	background-size: cover;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;

	opacity: 0;
	animation: alternate_background 2s none 1s infinite;
}

div.polaroidPhoto.fourthPhoto{
	background: url(images/dino3.JPG);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
} 

div.polaroidPhoto.fourthPhoto:before{    
	content: "";
	background-image: url(images/dino4.JPG);
	background-position: top center;
	background-repeat: repeat-x;
	background-size: cover;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;

	opacity: 0;
	animation: alternate_background 2s none 1s infinite;
}

/* div.polaroidPhoto.fifthPhoto{
	background: url(images/wistfulC.JPG);
	background-position: bottom left;
	background-repeat: no-repeat;
	background-size: cover;
} 

div.polaroidPhoto.fifthPhotobefore{    
	content: "";
	background-image: url(images/wistfulD.JPG);
	background-position: bottom left;
	background-repeat: repeat-x;
	background-size: cover;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;

	opacity: 0;
	animation: alternate_background 2s none 1s infinite;
} */

#gallery3 div.polaroidContainer:nth-of-type(1){
	z-index: 6;
}

div.polaroidPhoto.sixthPhoto{
	background: url(images/kickSam.JPG);
	background-position: top left;
	background-repeat: no-repeat;
	background-size: cover;

	/* animation: side-to-side 2s none 0s infinite; */
} 

div.polaroidPhoto.seventhPhoto{
	background: url(images/kickMichael.JPG);
	background-position: top right;
	background-repeat: no-repeat;
	background-size: cover;

	/* animation: side-to-side 2s none 0s infinite;
	animation-direction: reverse; */
} 



/* Form styling */
form{
	width: 100%;
	display: flex;
	flex-direction: column;
}

button[type=submit]{
	margin-top: 1rem;

	background-color: var(--orange);
	color: white;
	font-size: 1rem;
	border: none;
	box-shadow: var(--standard-box-shadow);
}
input[type=button]:hover{
	opacity: .9;
}

textarea:focus, input:focus {
	border: 2px solid var(--spacecadet);
  } 

/* General form items that span the form: */
form h3, button[type=submit], #contactForm_submitted, #adviceForm_submitted{
	grid-column: 1 / -1;
	text-align: center;
}

/* Advice form styles */
input[name="file"]{
	width: 100%; /*Mystery: for some reason this button overshot the grid without specifying size, even though it was small...*/
}

/* Textarea larger resizable area*/
textarea {
	resize: vertical;
  }

  input[name="advice"]{
	height: 5rem;
}

/* Contact form layout */
#contactForm{
	display: grid;
	grid-gap: 8px;
	grid-template-columns:
	auto 1fr auto 1fr;
}

input[id="name"], input[id="email"], input[id="address"]{
	grid-column-start: span 3;
}

@media all and (max-width: 700px){
	#contactForm{
		display: flex;
		flex-direction: column;
	}
}


div.sliderContainer{
	width: 100%;
	max-width: 1700px;
	
	display: flex;
	overflow-x: auto;
	align-items: center;

	scroll-snap-type: x mandatory;
	
	border-radius: 10px;
}

div.sliderContainer::-webkit-scrollbar{
	width: 70vw;
	background-color: white;
	border-radius: 10px;
}

div.sliderContainer::-webkit-scrollbar-thumb{
	background: var(--spacecadet);
	border-radius: 10px;
}

img.sliderImg{
	height: 300px; 
	width: 300px; 
}

img.sliderImg:nth-of-type(1){
	margin-left: 150px;
}

img.sliderImg.doubleWide{
	height: 300px;
	width: 600px;
}

div.sliderContainer iframe{
	height: 300px;

	border: none;
}

img.sliderImg, div.sliderContainer>iframe{
	scroll-snap-align: center;
}

#footer{
	background: var(--spacecadet);

	margin-top: 3rem;
	border-top: var(--thick-border);
	padding: 1rem;
}

#dinoIcon{
	z-index: 10;
	position: fixed;
	bottom: 0px; 
	right: 0px;
	
	height: 75px;
	width: 75px;
	
	margin: 1rem;

	opacity: .85;
}



/* Animations */
@keyframes alternate_background{
	0%{
		opacity: 1;
	}
	50%{
		opacity: 1;
	}
	51%{
		opacity: 0;
	}
	100%{
		opacity: 0;
	}
}

@keyframes alternate_background_1-5{
	0%{
		opacity: 1;
	}
	20%{
		opacity: 1;
	}
	21%{
		opacity: 0;
	}
	100%{
		opacity: 0;
	}
}

@keyframes appear{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

@keyframes text-enter{
	from{
		opacity: 0;
		margin: 1em 0 -1em 0;
	}
	to{
		opacity: 1;
		margin: 1em 0 -.4em 0;
	}
}

@keyframes side-to-side{
	0%{
		background-position: top left;
	}
	50%{
		background-position: top left;
	}
	51%{
		background-position: top right;
	}
	100%{
		background-position: top right;
	}
}

